
@font-face {
    font-family: "montserrat_bold";
    src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "montserrat_light";
    src: url("../fonts/Montserrat-Light.ttf");
}
@font-face {
    font-family: "montserrat_medium";
    src: url("../fonts/Montserrat-Medium.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat_light";
}
*:focus {
    outline: none;
}
a {
    text-decoration: none;
    transition: all 300ms ease-out;
    color: white;
}
a:hover {
    transition: all 300ms ease-in;
}
body {
    background-color: black;
    min-width: 280px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 14px;
    background-color: #3F3F3F;
}
body::-webkit-scrollbar-thumb {
    background: #21BEB3; 
    border-radius: 20px;
}
.overflow {
    overflow: hidden;
}
html {
    scroll-behavior: smooth;
}
button {
    transition: all 300ms ease-out;
    cursor: pointer;
}
button:hover {
    transition: all 300ms ease-in;
}
img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.wrapper {
    margin: 0 120px;
}
.general_min_title {
    font-family: "montserrat_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    color: #FFFFFF;
    margin-bottom: 23px;
}
.text_blue {
    color: #21BEB3;
}
button {
    background-color: transparent;
    border: none;
}



/* burger menu section */
.menu_burger {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background: black;
    transition: all 300ms;
    transform: translate3d(0, -200vh, 0);
}
.menu_burger::-webkit-scrollbar {
    display: none;
}
.menu_burger {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.menu_burger_active {
    position: fixed;
    transition: all 300ms;
    transform: translate3d(0, 0, 0);
}
.menu_close {
    cursor: pointer;
}
.menu_close svg line {
    transition: all 300ms  ease-out;
}
.menu_close:hover svg line {
    stroke: #21BEB3;
    transition: all 300ms  ease-in;
}
.menu_burger .wrapper {
    height: 100%;
}
.burger_open_bg_block {
    padding-top: 33px;
    width: 100%;
    height: 90%;
    background-image: url(../img/home_bottom_photo.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}
.menu_navbar_burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 630px;
    height: 100%;
}
.menu_navbar_burger a {
    width: max-content;
    font-family: "montserrat_light";
    font-style: normal;
    font-weight: 300;
    font-size: 45px;
    align-items: center;
}
.menu_navbar_burger a:hover {
    color: #21BEB3;
}
.burger_menu_left_right_section {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    width: 80%;
    height: 100%;
}
.burger_menu_left_section {
    display: flex;
    flex-direction: column;
    row-gap: 130px;
}
.burger_menu_right_section {
    max-width: 825px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 56px;
    margin-top: auto;
    margin-bottom: 76px;
}
.burger_menu_right_section span {
    font-family: "montserrat_light";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: #FFFFFF;
}
.burger_menu_right_section img {
    width: 294px;
    height: 90px;
}
.menu_footer {
    display: flex;
    column-gap: 33px;
    justify-content: center;
}
.menu_footer a svg path {
    transition: all 300ms  ease-out;
}
.menu_footer a:hover svg path {
    fill: #21BEB3;
    transition: all 300ms  ease-in;
}
/* burger menu section end */


/* header section */
header {
    max-width: 1920px;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 20;
}
.menu_leng_burger_block {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.burger_block span {
    cursor: pointer;
}
.burger_block span svg path {
    transition: all 300ms ease-out;
}
.burger_block span:hover svg path {
    transition: all 300ms ease-in;
    fill: #21BEB3;
}
.nav_bar_block {
    display: flex;
    gap: 60px;
}
.nav_bar_block a {
    font-family: "montserrat_light";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
}
.nav_bar_block a:hover {
    text-decoration-line: line-through;
}
.nav_bar_block_active {
    text-decoration-line: line-through;
}
.lang_block {
    display: flex;
    gap: 5px;
    align-items: center;
}
.lang_block a {
    font-family: "montserrat_light";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
}
.lang_block a:hover {
    text-decoration-line: line-through;
}
.lang_block_active {
    text-decoration-line: line-through;
}
.lang_block hr {
   width: 1px;
   height: 15px;
   background-color: #FFFFFF;
}
/* header section end */

/* footer section */
.footer_top {
    margin-bottom: 55px;
}
.footer_top_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 51px;
}
.footer_top_block img {
    width: 641px;
    height: 40px;
}
.footer_nav_bar {
    display: flex;
    column-gap: 60px;
}
.footer_nav_bar a:hover {
    color: #21BEB3;
}
.footer_icon_block {
    display: flex;
    align-items: center;
    column-gap: 54px;
}
.footer_icon_block a svg path {
    transition: all 300ms ease-out;
}
.footer_icon_block a:hover svg path {
    fill: #21BEB3;
    transition: all 300ms ease-in;
}


.footer_bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2); 
    padding: 43px 0;
}
.footer_bottom_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_bottom_block span {
    font-family: "montserrat_light";
    font-style: normal;
    font-weight: 275;
    font-size: 19px;
    color: #FFFFFF;
}
.website_design_block {
    display: flex;
    align-items: center;
}
.website_design_block a span svg {
    transition: all 300ms ease-out;
    margin-left: 15px;
}
.website_design_block a:hover span svg path {
    fill: #21BEB3;
    transition: all 300ms ease-in;
}
.website_design_block a span {
    transition: all 300ms ease-out;
}
.website_design_block a:hover span {
    color: #21BEB3;
    transition: all 300ms ease-in;
}
/* footer section end */




/* releases block */
.releases_section_albom:hover .releases_hov {
    opacity: 1;
    transition: all 300ms ease-in;
}
.releases_hov {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0;
    transition: all 300ms ease-out;
    background-color: rgba(33, 190, 179, 0.4);
}
.releases_section_albom_photo {
    position: relative;
    width: 398px;
    height: 398px;
}
.releases_section_albom_name_block p {
    font-family: "montserrat_bold";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 6px;
}
.releases_section_albom_name_block span {
    font-family: "montserrat_light";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #B1B1B1;
}
/* releases block end*/


/* blog news block */
.blog_news_block {
    max-width: 824px;
    text-align: left;
}
.blog_news_photo_block {
    max-width: 824px;
    width: 100%;
    height: 540px;
    margin-bottom: 63px;
    position: relative;
}
.blog_news_photo_block:hover .blog_news_hov {
    opacity: 1;
    transition: all 300ms ease-in;
}
.blog_news_hov {
    background-color: rgba(33, 190, 179, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 300ms ease-out;
}
.text_title_info_block p {
    font-family: "montserrat_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: #FFFFFF;
    margin-bottom: 19px;
}
.text_title_info_block span {
    font-family: "montserrat_light";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: #FFFFFF;
}
.interview_date_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}
.interview_date_block a {
    width: max-content;
    font-family: "montserrat_light";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: #21BEB3;
}
.interview_date_block a:hover {
    color: white;
}
.interview_date_block span {
    font-family: "montserrat_light";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: #B1B1B1;
}
.interview_date_block span svg {
    margin-right: 18px;
}
/* blog news block end */

/* red section */
.section_red {
    background-color: #8D2E2E;
    width: 100%;
    height: 539px;
    margin-bottom: 151px;
}
.section_red .wrapper {
    height: 100%;
}
.page_title_glav_block {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.page_title_glav_block h1 {
    font-family: "montserrat_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    text-transform: uppercase;
    margin-bottom: 12px;
    background: -webkit-linear-gradient(left ,#21BEB3, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home_title_text_white {
    font-family: "montserrat_light";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.home_title_text_red {
    font-family: "montserrat_light";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    color: #21BEB3;
}
/* red section end */

/* page filter block */
.page_filter_block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 20px;
    margin-bottom: 100px;
}
.filter_section button {
    padding: 11px 10px;
    width: max-content;
    background-color: transparent;
    border: 1px solid #21BEB3;
}
.filter_section_btn {
    font-family: "montserrat_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.filter_section button:hover   {
    background-color: #21BEB3;
}
.filter_section_active  button {
    background-color: #21BEB3;
}
/* page filter block end */

/* pagination block */
.pagination {
    display: flex;
    column-gap: 18px;
    row-gap: 18px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.pagination a {
    width: 47px;
    height: 47px;
    background-color: transparent;
    border: 1px solid #22BEB3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #21BEB3;
    font-size: 30px;
}
.pagination a:hover {
    background-color: #21BEB3;
    color: black;
}
.pagination_active {
    background-color: #22BEB3!important;
    color: black!important;
}
/* pagination block end */